h2{
    color: brown;
}
.one{
    background-color: green;
    height: 200px;
    width: 200px;
    margin: 40px 50px 60px 70px;
}
.two{
    background-color: darkorchid;
    height: 200px;
    width: 200px;
    padding: 40px 50px 60px 70px;
}
.container{
    display: flex;
    flex-wrap: wrap;
    row-gap: 5px;
    column-gap: 5px;
}
.box{
    border: 2px solid red;
    height: 200px;
    width: 350px;
}